
/.config/Code
/.config/pulse
/.config/Thunar
/.config/xfce4
/.tmux/plugins/tpm
/.config/dconf
/.config/aseprite
/.tmux/plugins
/.config/vlc
/.config/obs-studio
/.config/Code - OSS
.config/mimeapps.list
.config/pavucontrol.ini
.config/pavucontrol.ini
.config/spotify-tui/.spotify_token_cache.json
/.config/spotify-tui
